Bpm/Register/SOA/businessCatalog/Data/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="Data.User" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/User" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/User"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="firstname" nillable="true" type="xs:string"/>
            <xs:element name="lastname" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="id" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="User" type="UserType"/>
</xs:schema>
